<launch>

 <node pkg="tf" type="static_transform_publisher" name="avatar_link_broadcaster"
        args="0 0 0 0 0 0 /map /root 25" >
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="pepper_link_broadcaster"
        args="0 0 0 0 0 0 /map /base_link 25" >
  </node>
  
  </launch>
